.page {
  min-height: 100vh;
  background: linear-gradient(135deg, #0f172a, #1e1b4b);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card {
  width: 420px;
  background: rgba(255, 255, 255, 0.08);
  padding: 30px;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

/* ✅ HEADING */
.form-heading {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: white;
  margin-bottom: 25px;
}

label {
  display: block;
  margin-bottom: 6px;
  color: #e5e7eb;
  font-size: 14px;
}

input,
textarea,
select {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.15);
  color: white;
}

input::placeholder,
textarea::placeholder {
  color: #d1d5db;
}

button {
  width: 100%;
  padding: 14px;
  background: linear-gradient(135deg, #6c63ff, #9b7cff);
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

select {
  color: white;
}
select option {
  background: white;
  color: black;
}